
body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 28px;
}

header {
  background-color: #273F2C;
  color: #f2f2f2;
  text-align: center;
  padding: 50px 20px 25px;
}

header h1 {
  font-family: 'Nosifer', cursive;
  font-size: 45px;
}

header img {
  border-radius: 20px;
  border: 2px solid #d9d8d4;
  height: 550px;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

main img {
  max-width: 100%;

}

h2 {
  font-size: 30px;
  margin: 40px 5px 20px;
}

a {
  color: #273F2C;
}

a:hover {
  color: white;
  background-color: #273F2C;
}

p.caption{
  color: #999999;
  font-style: italic;
  margin-top: -3px;
  font-size: 18px;
  padding-left: 5px;
}

footer{
  background-color: #273F2C;
  color: #f2f2f2;
  text-align: center;
  padding: 15px 20px 5px;
}

footer a{
  color: inherit;
}

footer a:hover{
  opacity: .5;
  background-color: transparent;
}
